<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsTask2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WinFormsTask2.My.MySettings.sqlServer" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=test_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WinFormsTask2.My.MySettings.Postgres" connectionString="Host=localhost;Port=5432;Username=postgres;Password=post2025;Database=testdb" />
    </connectionStrings>
    <applicationSettings>
        <WinFormsTask2.My.MySettings>
            <setting name="CsvFilePath" serializeAs="String">
                <value>C:\Users\PC063\Documents\sample3.csv</value>
            </setting>
            <setting name="ModelType" serializeAs="String">
                <value>SqlServerModel</value>
            </setting>
        </WinFormsTask2.My.MySettings>
    </applicationSettings>
</configuration>
