<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormsTask2.My.MySettings.sqlServer" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=test_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
